@import "../Variables.scss";
@import "./inside-about/profile.scss";
@import "./inside-about/marquee.scss";
@import "./inside-about/arsenal.scss";
@import "./inside-about/experience.scss";


body{
    background-color: white;
}

header{
    z-index: 2;
    background: transparent;
    
   
    position: fixed;
    width: 100%;

    nav{
        align-items: center;
        padding:.5rem 1rem;
       

        .Logo{
            gap: 1rem;
            align-items: center;

            .Logo-container{
                height: 3rem;
                width: 3rem;
                // background-image: url('../../assets/Logo.png');
                background-size: cover;
                border-radius: 100%;
                background-color: black;
                display: flex;
                align-items: center;
                justify-content:center ;
                filter: drop-shadow(0px 4px 6px #b51b00);


                svg{
                    fill: white;
                    width: 20px;
                    height: 20px;
                }
            }
        } 
        
            .links{
                ul{
                    gap:4rem;
                    padding: 0;
                    margin: 0;
            
                    li{
                        font-family:"NexaLight";
                        font-size:1rem;
                        align-items: center;

                        a{
                            color: white;
                            text-decoration: none;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap:1rem;
                            transition: ease-in;

                            span{                              
                                font-family:"NexaBold";
                                font-weight: 900;
                                letter-spacing: .05rem;
                                font-size:1rem
                            }

                            .send-btn{
                                border-radius: 100px;
                                height:32px;
                                width: 32px;
                                background: #FFFFFF;
                                box-shadow: 0px 4px 4px $primary-vio;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                svg{
                                    fill:$primary-orange;
                                    transition: ease-in-out 0.5s;
                                }
                            }
                        }

                        &:hover{

                            a{
                                text-decoration: underline;
                            }

                            svg{
                                transform: translateY(-6px);
                                filter:drop-shadow(0px 4px 4px $primary-vio)
                            }
                        }
                    }
                    
                }

                .ham-menu{
                    display: block;
                }

                // Small devices (Potrait phones, 576px and up)
    
            @media (min-width: 350px) {
                ul{
                    display: none!important;
                }

                .ham-menu{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg{
                        transform: scale(1.3);
                    }
                }
            }
        
            // Small devices (landscape phones, 576px and up)
            @media (min-width: 576px) {
                ul{
                    display: none!important;
                }   
                .ham-menu{
                    display: flex;
                }         
            }
        
            // Medium devices (tablets, 768px and up)
            @media (min-width: 768px) {
                ul{
                    display: none!important;
                }   
                .ham-menu{
                    display: flex;
                }       
            }
        
            // Large devices (desktops, 992px and up)
            @media (min-width: 992px) {
                ul{
                    display: flex!important;
                }   
                .ham-menu{
                    display: none;
                }                   }
        
            // X-Large devices (large desktops, 1200px and up)
            @media (min-width: 1200px) {
                ul{
                    display: flex!important;
                }    
                .ham-menu{
                    display: none;
                }   
            }
        
            // XX-Large devices (larger desktops, 1400px and up)
            @media (min-width: 1400px) {
                ul{
                    display: flex!important;
                }   
                .ham-menu{
                    display: none;
                }    
            }

        }
    }
}

main{
    color: #161515;

    .about-hero{
        padding:6rem 2rem 0 2rem;

        h6{
            font-size: 1.375rem;
            margin-top: 1em;
        }

        .blur_purple_1{
            z-index: -1;
            transform: scale(1.5);
        }

        .about-info{
            border-bottom: 4px solid #161515;
            padding-bottom: 2rem;

            h1{
                font-size: 9.125rem;
                max-width: 830px;
                font-weight: 900;
                line-height: 113.88px;
                font-family:"Monument Extended Ultrabold" !important;
                font-style:normal;
                -webkit-font-smoothing: antialiased;
                -webkit-text-stroke-width: 0.2px;
                -moz-osx-font-smoothing: grayscale;
            }

            .featured{
                list-style: none;
                gap: 1rem;

                
                 margin: 0px!important;
                padding: 0px!important;
                

                li{
                    padding: .5rem;
                    border-radius: 100px;
                    border: #161515 2px solid;
                    width: fit-content;
                }
            }

            // Small devices (Potrait phones, 576px and up)
    
            @media (min-width: 350px) {
                gap:2rem;

               .featured{
                
                align-items: flex-start;
            }

                h1{
                    font-size: 3.5rem;
                    max-width: 330px; 
                    line-height: 2.8rem;
                }

                li{
                    
                }
            }
        
            // Small devices (landscape phones, 576px and up)
            @media (min-width: 576px) {
                .featured{
                    
                    align-items: flex-start;
                }
                
           
                h1{
                    font-size: 4rem;
                    max-width: 330px; 
                    line-height: 3.5rem;
                }
            }
        
            // Medium devices (tablets, 768px and up)
            @media (min-width: 768px) {
                flex-direction: column!important;
                .featured{
                    
                    align-items: flex-start;
                }
             

                h1{
                    font-size: 6rem;
                    max-width: 400px; 
                    line-height: 4.5rem;

                }

            }
        
            // Large devices (desktops, 992px and up)
            @media (min-width: 992px) {
                flex-direction: row!important;

                .featured{
                   
                    align-items: flex-end;
                }
                

                h1{
                    font-size: 9.125rem;
                max-width: 830px;line-height: 113.88px;
                }
            }
        
            // X-Large devices (large desktops, 1200px and up)
            @media (min-width: 1200px) {
                flex-direction: row!important;

                .featured{
                    
                    align-items: flex-end;
                }
               

                h1{
                    font-size: 9.125rem;
                max-width: 830px;line-height: 113.88px;
                }
            }
        
            // XX-Large devices (larger desktops, 1400px and up)
            @media (min-width: 1400px) {
                flex-direction: row!important;

                .featured{
                    
                    align-items: flex-end;
                }

               

                h1{
                    font-size: 9.125rem;
                max-width: 830px;line-height: 113.88px;
                }
            }
        }
    }
}

footer{
    background-color: #0A0A0A;
    color: white;
    .copyrights{
        padding: 1rem 0;
        border-top: 1px solid white;

        span{
            font-size: 1rem;
            font-family:"NexaLight";
            font-weight: 500;
        }
    }

        // Small devices (Potrait phones, 576px and up)

        @media (min-width: 350px) {
            .copyrights{
                gap:.5rem;
                flex-direction: column!important;
                text-align: center;
            }         
        }
    
        // Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) {
            .copyrights{
                gap:.5rem;
                flex-direction: column!important;
                text-align: center;
            }          
        }
    
        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
            .copyrights{
           
                flex-direction: row!important;
                text-align: center;
            }         
        }
    
        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            .copyrights{
                flex-direction: row!important;
                text-align: center;
            }         
        }
    
        // X-Large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) {
            .copyrights{
                flex-direction: row!important;
                text-align: center;
            }           
        }
    
        // XX-Large devices (larger desktops, 1400px and up)
        @media (min-width: 1400px) {
            .copyrights{
                flex-direction: row!important;
                text-align: center;
            }          
        }
}
