.about-video {
  pointer-events: none0;
}
.about-video .video-slideshow .video-show {
  margin-top: -6rem;
  margin-bottom: -1rem;
  width: 1000px;
  height: -moz-fit-content;
  height: fit-content;
}
.about-video .video-slideshow .video-show .gif-area {
  background-color: #C25FFD;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  position: relative;
  right: -900px;
  top: 266px;
}
@media (min-width: 350px) {
  .about-video .video-slideshow .video-show .gif-area {
    right: -220px;
    top: 110px;
  }
}
@media (min-width: 576px) {
  .about-video .video-slideshow .video-show .gif-area {
    right: -220px;
    top: 110px;
  }
}
@media (min-width: 768px) {
  .about-video .video-slideshow .video-show .gif-area {
    right: -600px;
    top: 110px;
  }
}
@media (min-width: 992px) {
  .about-video .video-slideshow .video-show .gif-area {
    right: -816px;
    top: 100px;
  }
}
@media (min-width: 1200px) {
  .about-video .video-slideshow .video-show .gif-area {
    right: -900px;
    top: 266px;
  }
}
@media (min-width: 1400px) {
  .about-video .video-slideshow .video-show .gif-area {
    right: -900px;
    top: 266px;
  }
}
.about-video .video-slideshow .video-show .gif-area .planet-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 100%;
}
.about-video .video-slideshow .video-show .gif-area .planet-area img {
  transform: scale(1.2);
  width: 100%;
}
.about-video .video-slideshow .video-show .gif-area .rotation-text {
  position: absolute;
  width: 100%;
  mix-blend-mode: darken;
  animation: rotatetext 10s linear infinite;
  transform: scale(1.2) rotate(90deg);
}
.about-video .video-slideshow .video-show video {
  width: 100%;
}

@keyframes rotatetext {
  0% {
    transform: scale(1.2) rotate(90deg);
  }
  50% {
    transform: scale(1.2) rotate(180deg);
  }
  100% {
    transform: scale(1.2) rotate(275deg);
  }
}
.about-me {
  background-color: #FB722E;
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: background-color 0.5s ease-in;
}
.about-me span {
  mix-blend-mode: luminosity;
  width: 100%;
  font-size: 9.125rem;
  font-weight: 900;
  bottom: 0;
  line-height: 113.88px;
  color: #FF8A4F;
  font-family: "Monument Extended Ultrabold" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  transform: translateY(-20px);
}
@media (min-width: 350px) {
  .about-me span {
    font-size: 3.125rem;
    max-width: 830px;
    line-height: 2rem;
  }
}
@media (min-width: 576px) {
  .about-me span {
    font-size: 3.125rem;
    max-width: 830px;
    line-height: 2rem;
  }
}
@media (min-width: 768px) {
  .about-me span {
    font-size: 3.125rem;
    max-width: 100%;
    line-height: 2.8rem;
  }
}
@media (min-width: 992px) {
  .about-me span {
    font-size: 7.125rem;
    max-width: 100%;
    line-height: 6.8rem;
  }
}
@media (min-width: 1200px) {
  .about-me span {
    font-size: 8.125rem;
    max-width: 100%;
    line-height: 7rem;
  }
}
@media (min-width: 1400px) {
  .about-me span {
    font-size: 9.125rem;
    max-width: 100%;
    line-height: 7rem;
  }
}
.about-me .bio-pic {
  flex-direction: row;
  gap: 2rem;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 2rem;
}
.about-me .bio-pic .image-container {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
}
.about-me .bio-pic .image-container img {
  width: 140%;
  transform: translate(-15%, -15%);
  pointer-events: none;
}
.about-me .bio-pic .about-container {
  width: 50%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.about-me .bio-pic .about-container p {
  font-family: "NexaLight" !important;
  font-size: 1.75rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 1px;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 350px) {
  .about-me .bio-pic {
    flex-direction: column;
    gap: 0;
  }
  .about-me .bio-pic .about-container {
    width: 100%;
  }
  .about-me .bio-pic .about-container p {
    margin: 0;
  }
  .about-me .bio-pic .image-container {
    width: 100%;
    height: 424px;
  }
}
@media (min-width: 576px) {
  .about-me .bio-pic {
    flex-direction: column;
  }
  .about-me .bio-pic .about-container {
    width: 100%;
  }
  .about-me .bio-pic .about-container p {
    margin: 0;
  }
  .about-me .bio-pic .image-container {
    width: 100%;
    height: 600px;
  }
}
@media (min-width: 768px) {
  .about-me .bio-pic {
    flex-direction: column;
  }
  .about-me .bio-pic .about-container {
    width: 100%;
  }
  .about-me .bio-pic .about-container p {
    margin: 0;
  }
  .about-me .bio-pic .image-container {
    width: 100%;
    height: 850px;
  }
}
@media (min-width: 992px) {
  .about-me .bio-pic {
    flex-direction: row;
  }
  .about-me .bio-pic .about-container {
    width: 50%;
  }
  .about-me .bio-pic .about-container p {
    margin-top: 6rem;
  }
  .about-me .bio-pic .image-container {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .about-me .bio-pic {
    flex-direction: row;
  }
  .about-me .bio-pic .about-container {
    width: 50%;
  }
  .about-me .bio-pic .about-container p {
    margin-top: 6rem;
  }
  .about-me .bio-pic .image-container {
    width: 50%;
  }
}
@media (min-width: 1400px) {
  .about-me .bio-pic {
    flex-direction: row;
  }
  .about-me .bio-pic .about-container {
    width: 50%;
  }
  .about-me .bio-pic .about-container p {
    margin-top: 6rem;
  }
  .about-me .bio-pic .image-container {
    width: 50%;
  }
}

.about-me-dark {
  background-color: #161515;
  color: white;
}
.about-me-dark span {
  color: #201f1f;
  transition: color 0.5s ease-in;
}

.menu {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  --marquee-width: 100vw;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  --item-font-size: 10vw;
  counter-reset: menu;
}

/* Make sure 3 items are visible in the viewport by setting suitable font size. */
.marquee {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  mix-blend-mode: color-burn;
  background-color: #161515;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.marquee__inner {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: paused;
  opacity: 0;
  transition: opacity 0.1s;
  padding: 0.5rem 0;
}

.marquee .marquee__inner {
  animation-play-state: running;
  opacity: 1;
  transition-duration: 0.4s;
}

.marquee span {
  text-align: center;
  white-space: nowrap;
  font-size: 3.5rem;
  padding: 0 1vw;
  font-weight: 900;
  line-height: 1.15;
  color: white;
  font-family: "Monument Extended Bold" !important;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 350px) {
  .marquee span {
    font-size: 1.5rem;
  }
}
@media (min-width: 576px) {
  .marquee span {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .marquee span {
    font-size: 2.5rem;
  }
}
@media (min-width: 992px) {
  .marquee span {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .marquee span {
    font-size: 3.5rem;
  }
}
@media (min-width: 1400px) {
  .marquee span {
    font-size: 3.5rem;
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
.rolling-video {
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}
.rolling-video .arsenal-description {
  top: 10%;
  left: 5%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.rolling-video .arsenal-description h2 {
  max-width: 600px;
  color: white;
  font-size: 4rem;
  line-height: 3.4rem;
}
.rolling-video .arsenal-description p {
  color: #565656;
  font-size: 1.625rem;
  max-width: 600px;
}
@media (min-width: 350px) {
  .rolling-video .arsenal-description h2 {
    max-width: 300px;
    font-size: 1.5rem;
    line-height: 1.4rem;
  }
  .rolling-video .arsenal-description p {
    font-size: 1rem;
    max-width: 300px;
    color: #c7c7c7;
    line-height: 1.4rem;
  }
}
@media (min-width: 576px) {
  .rolling-video .arsenal-description h2 {
    max-width: 400px;
    font-size: 1.65rem;
    line-height: 1.5rem;
  }
  .rolling-video .arsenal-description p {
    font-size: 1.2rem;
    max-width: 400px;
    color: #c7c7c7;
    line-height: 1.6rem;
  }
}
@media (min-width: 768px) {
  .rolling-video .arsenal-description h2 {
    max-width: 400px;
    font-size: 3rem;
    line-height: 2.8rem;
  }
  .rolling-video .arsenal-description p {
    font-size: 1.5rem;
    max-width: 400px;
    color: #c7c7c7;
    line-height: 1.8rem;
  }
}
@media (min-width: 992px) {
  .rolling-video .arsenal-description h2 {
    max-width: 600px;
    color: white;
    font-size: 4rem;
    line-height: 3.4rem;
  }
  .rolling-video .arsenal-description p {
    color: #565656;
    font-size: 1.625rem;
    max-width: 600px;
    line-height: 2.2rem;
  }
}
@media (min-width: 1200px) {
  .rolling-video .arsenal-description h2 {
    max-width: 600px;
    color: white;
    font-size: 4rem;
    line-height: 3.4rem;
  }
  .rolling-video .arsenal-description p {
    color: #565656;
    font-size: 1.625rem;
    max-width: 600px;
    line-height: 2.2rem;
  }
}
@media (min-width: 1400px) {
  .rolling-video .arsenal-description h2 {
    max-width: 600px;
    color: white;
    font-size: 4rem;
    line-height: 3.4rem;
  }
  .rolling-video .arsenal-description p {
    color: #565656;
    font-size: 1.625rem;
    max-width: 560px;
    line-height: 2rem;
  }
}

.arsenal-video {
  width: 100%;
}
@media (min-width: 350px) {
  .arsenal-video {
    width: 200%;
    transform: translateX(-200px);
  }
}
@media (min-width: 576px) {
  .arsenal-video {
    width: 200%;
    transform: translateX(-334px);
  }
}
@media (min-width: 768px) {
  .arsenal-video {
    width: 150%;
    transform: translateX(-100px);
  }
}
@media (min-width: 992px) {
  .arsenal-video {
    width: 100%;
    transform: translateX(0px);
  }
}
@media (min-width: 1200px) {
  .arsenal-video {
    width: 100%;
    transform: translateX(0px);
  }
}
@media (min-width: 1400px) {
  .arsenal-video {
    width: 100%;
    transform: translateX(0px);
  }
}

.experience-section {
  height: 500px;
  position: relative;
}
.experience-section .background {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 132%;
  margin-top: -160px;
  background: linear-gradient(180deg, rgba(11, 11, 11, 0) 0%, rgb(11, 11, 11) 15.22%);
  padding: 16rem 4rem 4rem 4rem;
}
.experience-section .background h2 {
  max-width: 600px;
  color: white;
  font-size: 4rem;
  line-height: 3.4rem;
}
.experience-section .background .experience-table {
  padding: 0;
  margin: 2rem 0;
  list-style: none;
}
.experience-section .background .experience-table li {
  padding: 1rem 0;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  color: white;
  font-family: "NexaLight" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 0.5rem;
}
@media (min-width: 350px) {
  .experience-section .background {
    padding: 16rem 2rem 2rem 2rem;
  }
  .experience-section .background h2 {
    max-width: 300px;
    font-size: 1.5rem;
    line-height: 1.4rem;
  }
}
@media (min-width: 576px) {
  .experience-section .background {
    padding: 16rem 2rem 2rem 2rem;
  }
  .experience-section .background h2 {
    max-width: 400px;
    font-size: 1.65rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 768px) {
  .experience-section .background {
    padding: 16rem 2rem 2rem 2rem;
  }
  .experience-section .background h2 {
    max-width: 400px;
    font-size: 3rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 992px) {
  .experience-section .background {
    padding: 16rem 4rem 4rem 4rem;
  }
  .experience-section .background h2 {
    max-width: 600px;
    color: white;
    font-size: 4rem;
    line-height: 3.4rem;
  }
}
@media (min-width: 1200px) {
  .experience-section .background {
    padding: 16rem 4rem 4rem 4rem;
  }
  .experience-section .background h2 {
    max-width: 600px;
    color: white;
    font-size: 4rem;
    line-height: 3.4rem;
  }
}
@media (min-width: 1400px) {
  .experience-section .background {
    padding: 16rem 4rem 4rem 4rem;
  }
  .experience-section .background h2 {
    max-width: 600px;
    color: white;
    font-size: 4rem;
    line-height: 3.4rem;
  }
}

body {
  background-color: white;
}

header {
  z-index: 2;
  background: transparent;
  position: fixed;
  width: 100%;
}
header nav {
  align-items: center;
  padding: 0.5rem 1rem;
}
header nav .Logo {
  gap: 1rem;
  align-items: center;
}
header nav .Logo .Logo-container {
  height: 3rem;
  width: 3rem;
  background-size: cover;
  border-radius: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 4px 6px #b51b00);
}
header nav .Logo .Logo-container svg {
  fill: white;
  width: 20px;
  height: 20px;
}
header nav .links ul {
  gap: 4rem;
  padding: 0;
  margin: 0;
}
header nav .links ul li {
  font-family: "NexaLight";
  font-size: 1rem;
  align-items: center;
}
header nav .links ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  transition: ease-in;
}
header nav .links ul li a span {
  font-family: "NexaBold";
  font-weight: 900;
  letter-spacing: 0.05rem;
  font-size: 1rem;
}
header nav .links ul li a .send-btn {
  border-radius: 100px;
  height: 32px;
  width: 32px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px #C25FFD;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .links ul li a .send-btn svg {
  fill: #FB722E;
  transition: ease-in-out 0.5s;
}
header nav .links ul li:hover a {
  text-decoration: underline;
}
header nav .links ul li:hover svg {
  transform: translateY(-6px);
  filter: drop-shadow(0px 4px 4px #C25FFD);
}
header nav .links .ham-menu {
  display: block;
}
@media (min-width: 350px) {
  header nav .links ul {
    display: none !important;
  }
  header nav .links .ham-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header nav .links .ham-menu svg {
    transform: scale(1.3);
  }
}
@media (min-width: 576px) {
  header nav .links ul {
    display: none !important;
  }
  header nav .links .ham-menu {
    display: flex;
  }
}
@media (min-width: 768px) {
  header nav .links ul {
    display: none !important;
  }
  header nav .links .ham-menu {
    display: flex;
  }
}
@media (min-width: 992px) {
  header nav .links ul {
    display: flex !important;
  }
  header nav .links .ham-menu {
    display: none;
  }
}
@media (min-width: 1200px) {
  header nav .links ul {
    display: flex !important;
  }
  header nav .links .ham-menu {
    display: none;
  }
}
@media (min-width: 1400px) {
  header nav .links ul {
    display: flex !important;
  }
  header nav .links .ham-menu {
    display: none;
  }
}

main {
  color: #161515;
}
main .about-hero {
  padding: 6rem 2rem 0 2rem;
}
main .about-hero h6 {
  font-size: 1.375rem;
  margin-top: 1em;
}
main .about-hero .blur_purple_1 {
  z-index: -1;
  transform: scale(1.5);
}
main .about-hero .about-info {
  border-bottom: 4px solid #161515;
  padding-bottom: 2rem;
}
main .about-hero .about-info h1 {
  font-size: 9.125rem;
  max-width: 830px;
  font-weight: 900;
  line-height: 113.88px;
  font-family: "Monument Extended Ultrabold" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
main .about-hero .about-info .featured {
  list-style: none;
  gap: 1rem;
  margin: 0px !important;
  padding: 0px !important;
}
main .about-hero .about-info .featured li {
  padding: 0.5rem;
  border-radius: 100px;
  border: #161515 2px solid;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 350px) {
  main .about-hero .about-info {
    gap: 2rem;
  }
  main .about-hero .about-info .featured {
    align-items: flex-start;
  }
  main .about-hero .about-info h1 {
    font-size: 3.5rem;
    max-width: 330px;
    line-height: 2.8rem;
  }
}
@media (min-width: 576px) {
  main .about-hero .about-info .featured {
    align-items: flex-start;
  }
  main .about-hero .about-info h1 {
    font-size: 4rem;
    max-width: 330px;
    line-height: 3.5rem;
  }
}
@media (min-width: 768px) {
  main .about-hero .about-info {
    flex-direction: column !important;
  }
  main .about-hero .about-info .featured {
    align-items: flex-start;
  }
  main .about-hero .about-info h1 {
    font-size: 6rem;
    max-width: 400px;
    line-height: 4.5rem;
  }
}
@media (min-width: 992px) {
  main .about-hero .about-info {
    flex-direction: row !important;
  }
  main .about-hero .about-info .featured {
    align-items: flex-end;
  }
  main .about-hero .about-info h1 {
    font-size: 9.125rem;
    max-width: 830px;
    line-height: 113.88px;
  }
}
@media (min-width: 1200px) {
  main .about-hero .about-info {
    flex-direction: row !important;
  }
  main .about-hero .about-info .featured {
    align-items: flex-end;
  }
  main .about-hero .about-info h1 {
    font-size: 9.125rem;
    max-width: 830px;
    line-height: 113.88px;
  }
}
@media (min-width: 1400px) {
  main .about-hero .about-info {
    flex-direction: row !important;
  }
  main .about-hero .about-info .featured {
    align-items: flex-end;
  }
  main .about-hero .about-info h1 {
    font-size: 9.125rem;
    max-width: 830px;
    line-height: 113.88px;
  }
}

footer {
  background-color: #0A0A0A;
  color: white;
}
footer .copyrights {
  padding: 1rem 0;
  border-top: 1px solid white;
}
footer .copyrights span {
  font-size: 1rem;
  font-family: "NexaLight";
  font-weight: 500;
}
@media (min-width: 350px) {
  footer .copyrights {
    gap: 0.5rem;
    flex-direction: column !important;
    text-align: center;
  }
}
@media (min-width: 576px) {
  footer .copyrights {
    gap: 0.5rem;
    flex-direction: column !important;
    text-align: center;
  }
}
@media (min-width: 768px) {
  footer .copyrights {
    flex-direction: row !important;
    text-align: center;
  }
}
@media (min-width: 992px) {
  footer .copyrights {
    flex-direction: row !important;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  footer .copyrights {
    flex-direction: row !important;
    text-align: center;
  }
}
@media (min-width: 1400px) {
  footer .copyrights {
    flex-direction: row !important;
    text-align: center;
  }
}/*# sourceMappingURL=aboutpage.css.map */