@import "../../Variables.scss";


.about-video{
    pointer-events: none0;
    .video-slideshow{

        .video-show{
            margin-top: -6rem;
            margin-bottom: -1rem;
                width: 1000px;
                height: fit-content;

                .gif-area{
                    background-color:$primary-vio ;
                    width: 180px;
                    height: 180px;
                    border-radius: 100%;
                    position: relative;
                    right: -900px;
                    top:266px;

                      // Small devices (Potrait phones, 576px and up)
    
      @media (min-width: 350px) {
        right: -220px;
        top:110px;    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        right: -220px;
        top:110px;}
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        right: -600px;
        top:110px    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        right: -816px;
        top:100px;    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        right: -900px;
        top:266px;    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        right: -900px;
        top:266px;
    }
                    
                    .planet-area{
                        position: absolute;
                        top:50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        height: 100px;
                        width: 100px;
                        overflow: hidden;
                        border-radius: 100%;
                        img{
                            transform: scale(1.2);
                            width: 100%;

                        }
                    }
                    .rotation-text{
                        position: absolute;
                        width: 100%;

                        mix-blend-mode: darken;
                        animation: rotatetext 10s linear infinite;
                        transform: scale(1.2) rotate(90deg)                       
                    }
                }
            video{
                width: 100%;
            }
        }
      
    }
}

@keyframes rotatetext {
    0%{
        transform: scale(1.2) rotate(90deg)                       
    }

    

    50%{
        transform: scale(1.2) rotate(180deg)                       
    }

    

    100%{
        transform: scale(1.2) rotate(275deg)                       
    }
    
    
}

.about-me{
    background-color: $primary-orange;
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: background-color .5s ease-in;




    span{
        mix-blend-mode: luminosity;
        width: 100%;
        font-size: 9.125rem;
        
        font-weight: 900;
        bottom: 0;
        line-height: 113.88px;
        color: #FF8A4F;
        font-family:"Monument Extended Ultrabold" !important;
        font-style:normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
        transform: translateY(-20px);

                             // Small devices (Potrait phones, 576px and up)
    
      @media (min-width: 350px) {
        font-size: 3.125rem;
        max-width: 830px;
        line-height: 2rem;

    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        font-size: 3.125rem;
        max-width: 830px;
        line-height: 2rem;

    }
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        font-size: 3.125rem;
        max-width: 100%;
        line-height: 2.8rem;

    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        font-size: 7.125rem;
        max-width: 100%;
        line-height: 6.8rem;

    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        font-size: 8.125rem;
        max-width: 100%;
        line-height: 7rem;

    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        font-size: 9.125rem;
        max-width: 100%;
        line-height: 7rem;

    }
    }

    .bio-pic{
        flex-direction: row;
        gap:2rem;
        height: fit-content;
        margin-bottom: 2rem;

        .image-container{
            width: 50%;
            height: fit-content;
            img{
                width: 140%;
                transform: translate(-15%,-15%);
                pointer-events: none;
            }
        }

        .about-container{
            width: 50%;
            align-items:flex-start;
            display: flex;
            // justify-content: center;
            flex-direction: column;

            p{
                // margin-top: 6rem;
                font-family:"NexaLight" !important;
    font-size:1.75rem;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 1px;
    -moz-osx-font-smoothing: grayscale;
            }
        }

                                // Small devices (Potrait phones, 576px and up)
    
      @media (min-width: 350px) {
        flex-direction: column;
        gap:0;
        .about-container{
            width: 100%;

            p{
                margin: 0;
            }
            }
            .image-container{
                width: 100%;
                height: 424px;

            }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        flex-direction: column;
        .about-container{
            width: 100%; p{
                margin: 0;
            }
            }.image-container{
                width: 100%;
                height: 600px;
            }
    }
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        flex-direction: column;
        .about-container{
            width: 100%; 
            p{
                margin: 0;
            }
            }.image-container{
                width: 100%;
                height: 850px;

            }

    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        flex-direction: row;
        .about-container{
            width: 50%;
            p{
                margin-top: 6rem;
            }
            }.image-container{
                width: 50%;

            }

    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        flex-direction: row;
        .about-container{
            width: 50%;
            p{
                margin-top: 6rem;
            }
            }.image-container{
                width: 50%;

            }

    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        flex-direction: row;
        .about-container{
            width: 50%;
            p{
                margin-top: 6rem;
            }
            }.image-container{
                width: 50%;

            }
    }
        }

       
}
.about-me-dark{
    background-color: #161515;
    color:white;

    span{
        color: #201f1f;
        transition: color .5s ease-in;
    }
}