@import "./Variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../scss/Custom_pages/Custom.scss";
@import url(//db.onlinewebfonts.com/c/99501fdab737541e9315ceaf9229370f?family=Monument+Extended);


@font-face {font-family: "Monument Extended Bold";
    src: url("../assets/fonts/Monument_Extended_Bold/@font-face/55d433372d270829c51e2577a78ef12d.eot"); /* IE9*/
    src: url("../assets/fonts/Monument_Extended_Bold/@font-face/55d433372d270829c51e2577a78ef12d.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../assets/fonts/Monument_Extended_Bold/@font-face/55d433372d270829c51e2577a78ef12d.woff2") format("woff2"), /* chrome、firefox */
    url("../assets/fonts/Monument_Extended_Bold/@font-face/55d433372d270829c51e2577a78ef12d.woff") format("woff"), /* chrome、firefox */
    url("../assets/fonts/Monument_Extended_Bold/@font-face/55d433372d270829c51e2577a78ef12d.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  }
*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    color:$white;
    font-family:"Monument Extended Bold" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    background-color: #161515;
}

.webgl
{   
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    outline: none;
    transition: ease-in-out 1s;
}

main{
    position: relative;
    z-index: 2;
    overflow-x: hidden;
    height: 100vh;
}


.loading{
    opacity: 1;
    position: fixed;
    top:0;
    z-index: 3;
    background-color: rgb(24, 24, 24);
    width: 100%;
    height: 100%;
    transition:ease-out 1s;
//     -webkit-transition: top ease-in-out 1s;
//     -moz-transition: top ease-in-out 1s;
//   -o-transition: top ease-in-out 1s;
    
}

.loaded{
    position: fixed;
    top:-1000px;
    opacity: 1;
    z-index: 3;

}

.blur_purple_1{
    position: absolute;
    top: -569px;
    left: -769px;
    z-index: 1;
    pointer-events: none;
}
.test_div{
    background-image: url("../assets/sample.png");
    width:100px;
}
